[aws-acl-example]
enabled = true
filter = aws-acl-example-filter
action = aws-acl-action
  sendmail-whois[name=LoginDetect, dest=youremail@example.com, sender=youremail@local.hostname, sendername="Fail2Ban"]
logpath = /var/log/apache2/access.log
maxretry = 60
findtime = 60
bantime = 14400
